*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    background-image:url(./imagenes/nubesuno.jpg);
    background-size: cover;
}
.header{
    display: flex;
    justify-content:center;
    align-content: center;
    padding:0.5em;
}
.h1titulo{
    color: white;
    font-size: 4em;
    font-style: italic;
    display: flex;
    justify-content:center;
    align-content: center;
}
.linklogo{
    background-image:url(./imagenes/viajar.png);
    background-size: cover;
    text-decoration: none;
    color: white;
    font-weight:1000;
    width: 60px;
    height: 60px;
    font-size: 1.2em;
    font-style:italic; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin: 0.2em;
}